.btn-link {
   padding-left: 0;
   padding-right: 0;
   font-weight: $font-weight-bold;
   border: 0;
}

.text-brand {
   font-family: $font-family-brand;
}

.tab-separator {
   border-left: 1px $gray-800 solid;
}

.tab-active {
   background-color: $gray-800;
}

.card {
   border: 0;
}

.card-body {
   color: $white;
   font-family: $font-family-serif;
   font-size: $font-size-base * 1.25;
}

.card-body.allcards {
   //  smaller text for the cards view
   font-size: $font-size-base;
}

.card.bg-primary {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.card.bg-secondary {
   border-top-left-radius: 0;
   border-top-right-radius: 0;
} // broken

.btn-navigation {
   // nav buttons not bold
   font-weight: $font-weight-normal;
}

.card-title {
   //  card titles on the landing page

   font-family: $font-family-serif;
   font-size: 27px;
   font-weight: normal;
}

.landing-page {
   // formatting to the landing page

   h1 {
      color: $white;
      vertical-align: middle;
      padding-left: map-get($spacers, 6);
   }

   img.small-title {
      // smaller title logo
      width: 20.3125vw;
   }

   h1.small-title {
      // smaller title text
      font-size: 7.8125vw;
      padding-left: 4.1667vw;
   }

   .card {
      padding: map-get($spacers, 4); // pad cards title page
      margin-bottom: map-get($spacers, 8); // space cards when vertical
   }

   label {
      // labels on the forms on the landing page
      font-size: $font-size-base * 1.25;
      margin-top: map-get($spacers, 2);
      margin-bottom: map-get($spacers, 1);
   }
}

label {
   // add labels have muted text
   color: $text-muted;
}

.background-image {
   background-image: url("/images/background-landing.jpg");
   background-position-x: center; // img centered
   background-position-y: top; // img centered at top
   background-repeat: no-repeat;
   background-color: black;
}

h4 {
   // h4 change headings
   text-align: center;
   color: $text-muted;
}

.card textarea {
   color: $white;
   background: transparent;

   border: none;
   overflow: auto;
   outline: none;

   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;

   resize: none;
   padding: 0px;
   width: 100%;
}

.bg-success p.lead,
.bg-danger p.lead {
   color: $white;
   margin-bottom: 0;
}

th {
   // row titles not bold
   color: $text-muted;
   font-weight: $font-weight-normal;
}

.form-control,
.dropdown-toggle,
select {
   // border color grey
   border-color: $gray-400;
   font-weight: $font-weight-normal;
}

// .custom-control-label:before {
//    background-color: none;
// }
// .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
//    background-color: $primary;
// }
