// Colors
$gray-050: #e5e6e8;
$gray-100: #cccdd2;
$gray-200: #b4b4bb;
$gray-300: #999aa4;
$gray-400: #80818d;
$gray-500: #666877;
$gray-600: #52535f;
$gray-700: #3d3e47;
$gray-800: #292a30;
$gray-900: #141518;

$blue-050: #dae8f4;
$blue-100: #bfccf5;
$blue-200: #97adf1;
$blue-300: #7693ec;
$blue-400: #587be7;
$blue-500: #4366d3;
$blue-600: #2f52b9;
$blue-700: #1c3688;
$blue-800: #0c205a;
$blue-900: #010b2d;

$red-050: #f6dce2;
$red-100: #ecb8c5;
$red-200: #e38ea3;
$red-300: #da6a84;
$red-400: #cb4666;
$red-500: #c13958;
$red-600: #a42443;
$red-700: #770d26;
$red-800: #500416;
$red-900: #290505;

$spacer: 1rem; // 16px in most browsers
$spacers: ();
$spacers: map-merge(
   (
      0: 0px,
      1: 4px,
      2: 8px,
      3: 12px,
      4: 16px,
      5: 24px,
      6: 32px,
      7: 48px,
      8: 64px,
      9: 128px,
   ),
   $spacers
);
